extends ../layout

block content
  div(class="container box-form")
    h1 Call Center System
    
    if messages.erro
      div(class="alert alert-danger")
        p(id="msgError")= messages.erro
    
    if messages.success
      div(class="alert alert-success")
        p(id="msgSuccess")= messages.success
    
    form(action="/registrar", method="post", id="sendCall")
      div(class="form-group")
        label(for="tipoChamado") Tipo de Chamado *
        select(class="form-control", name="tipo")
          option(value="") Selecione
          option(value="telefone") Telefone
          option(value="chat") Chat
          option(value="email") Email
      
      div(class="form-group")
        label(for="estado") Estado *
        select(class="form-control", name="estado")
          option(value="") Selecione
          option(value="AC") Acre
          option(value="AL") Alagoas
          option(value="AP") Amapá
          option(value="AM") Amazonas
          option(value="BA") Bahia
          option(value="CE") Ceará
          option(value="DF") Distrito Federal
          option(value="ES") Espirito Santo
          option(value="GO") Goiás
          option(value="MA") Maranhão
          option(value="MS") Mato Grosso do Sul
          option(value="MT") Mato Grosso
          option(value="MG") Minas Gerais
          option(value="PA") Pará
          option(value="PB") Paraíba
          option(value="PR") Paraná
          option(value="PE") Pernambuco
          option(value="PI") Piauí
          option(value="RJ") Rio de Janeiro
          option(value="RN") Rio Grande do Norte
          option(value="RS") Rio Grande do Sul
          option(value="RO") Rondônia
          option(value="RR") Roraima
          option(value="SC") Santa Catarina
          option(value="SP") São Paulo
          option(value="SE") Sergipe
          option(value="TO") Tocantins
      
      div(class="form-group")
        label(for="motivoChamado") Motivo do Chamado *
        select(class="form-control", name="motivo")
          option(value="") Selecione
          option(value="duvida") Dúvidas
          option(value="sugestao") Sugestão
          option(value="elogios") Elogios
          
          
      div(class="form-group")
        label(for="descricao") Descrição do Chamado *
        textarea(class="form-control", name="descricao", rows="5")
            
      button(type="submit" class="btn btn-primary") Registrar
      a(href="/listar") Listar todos os chamados
