extends ../layout

block content
  div(class="container box-list")
    h1 Call Center System
    
    p
      a(href="/", class="btn btn-primary") Voltar
    
    if data.length > 0
      table(class="table table-striped")
        tr
          th(width="20%")
          th(width="20%") Tipo
          th(width="20%") Estado
          th(width="20%") Motivo
          th(width="20%") Descrição
          
        for item in data
          tr
            th(colspan="5", class="date")= item._id
          for attr in item.item
            tr
              td
              td= attr.tipo
              td= attr.estado
              td= attr.motivo
              td= attr.descricao
    else
      p(class="alert alert-danger text-center") Não existe registro até o momento
