doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
  
    script(src="/js/jquery-2.2.4.min.js")
    script(src="/js/bootstrap.min.js")
