/* style form */
.box-form{
  width: 500px;
}

.box-form h1{
  margin: 50px 0;
}

.box-form a{
  margin-left: 20px;
}

/* list style */

.box-list h1{
  margin: 50px 0;
}

.box-list .date{
  background-color: #ccc;
}
